working
.DS_Store
.Trash
.Xauthority
.CFUserTextEncoding
.bash_history
.bash_profile
.eclipse
.viminfo
.cache
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public

src
.lesshst
.serverauth.*
