# see https://git-scm.com/docs/git-config for definitions
[user]
	email = ryan@espressive.com
	name = Ryan Moore
	signingkey = 497435BCD76EF306ED54329AFD865AC42F88EF0F
[commit]
	gpgsign = true
[core]
	abbrev=16
[pull]
	default = current
[push]
	default = current
[init]
	templatedir = ~/dotfiles/githooks
[diff]
	tool = p4merge
	algorithm = patience
  mnemonicprefix = true
  compactionHeuristic = true
  renames = copies
[difftool]
	prompt = false
[merge]
	tool = p4merge
	keepBackup = false
[mergetool "p4merge"]
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[branch]
	autosetuprebase = always
[tar "tar.xz"]
	command = xz -9evvc
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red bold reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
	current = yellow bold reverse
	local = yellow bold
	remote = green
[color "status"]
	added = green bold
	changed = yellow bold
	header = white bold
	untracked = yellow
[alias]
  prme = "!open \"https://$(git config --get remote.origin.url | perl -pe 's,^.*?([^/@]+\\.(?:org|com)).([^/]+)/(.*).git$,$1/$2/$3,g')/pull-requests/new?source=$(git rev-parse --abbrev-ref HEAD)&t=1&dest=develop\""
  getpull = "!open \"https://$(git config --get remote.origin.url | perl -pe 's,^.*?([^/@]+\\.(?:org|com)).([^/]+)/(.*).git$,$1/$2/$3,g')/pull-requests/$(git log --merges --ancestry-path --oneline ${1}..HEAD | grep 'pull request' | tail -n1 | perl -pe 's/^.+\\(pull request #(\\d+)\\)$/\\1/g')\" #"
  parent-branch= "!git show-branch -a 2>/dev/null | grep '\\*' | grep -v $(git rev-parse --abbrev-ref HEAD) | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//'"
[grep]
  lineNumber = true
  extendedRegexp = true
[help]
  autocorrect = 0
[http]
  sslVersion = tlsv1.2

