# see https://git-scm.com/docs/git-config for definitions
[user]
	name = Ryan Moore
	email = ryan.moore@lambdal.com
	signingkey = ~/.ssh/id_ed25519.pub
[commit]
	gpgsign = true
[core]
	abbrev=16
	excludesfile=~/.gitignore
[fetch]
	prune = true
[gc]
	auto = 0
[pull]
	default = current
[push]
	default = current
[init]
	#templatedir = ~/dotfiles/githooks
  defaultBranch = main
[diff]
	tool = p4merge
	algorithm = patience
  mnemonicprefix = true
  compactionHeuristic = true
  renames = copies
	renamelimit = 100000
[difftool]
	prompt = false
[merge]
#	tool = p4merge
	tool = vimdiff
	keepBackup = false
	renamelimit = 100000
[mergetool "p4merge"]
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[pack]
	threads = 4
[branch]
	#autosetuprebase = always
	autosetuprebase = never
[tar "tar.xz"]
	command = xz -9evvc
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red bold reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
	current = yellow bold reverse
	local = yellow bold
	remote = green
[color "status"]
	added = green bold
	changed = yellow bold
	header = white bold
	untracked = yellow
[alias]
  prme = "!echo \"https://$(git config --get remote.origin.url | perl -pe 's,^.*?([^/@]+\\.(?:org|com)).([^/]+)/(.*).git$,$1/$2/$3,g')/pull/new/$(git rev-parse --abbrev-ref HEAD)\""
  getpull = "!echo \"https://$(git config --get remote.origin.url | perl -pe 's,^.*?([^/@]+\\.(?:org|com)).([^/]+)/(.*).git$,$1/$2/$3,g')/pull-requests/$(git log --merges --ancestry-path --oneline --reverse ${1}..HEAD | grep 'pull request' | head -n1 | perl -pe 's/^.+\\(pull request #(\\d+)\\)$/\\1/g')\" #"
  parent-branch= "!git show-branch -a 2>/dev/null | grep -A1 $(git rev-parse --abbrev-ref HEAD) | tail -n1 | perl -pe 's/.*\\[(.*)[\\]^~].*/$1/'"
  #last = "!git log --oneline --max-count=1"
  last = "log --oneline --max-count=1"
  logfull = "log --stat --pretty=fuller --date=local"
[grep]
  lineNumber = true
  extendedRegexp = true
[help]
  autocorrect = 0
#[http]
#  sslVersion = tlsv1.2

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[maintenance]
	repo = /Users/ryan.moore
	repo = /Users/ryan.moore/src/aap-collections
	repo = /Users/ryan.moore/src/aap-execenvs
	repo = /Users/ryan.moore/src/aap-installer
	repo = /Users/ryan.moore/src/ansible-apparmor
	repo = /Users/ryan.moore/src/ansible-artifactory_cluster
	repo = /Users/ryan.moore/src/ansible-autofs
	repo = /Users/ryan.moore/src/ansible-bridge-cluster-oci
	repo = /Users/ryan.moore/src/ansible-consul_agent
	repo = /Users/ryan.moore/src/ansible-datadog_lambda
	repo = /Users/ryan.moore/src/ansible-dns_resolvers
	repo = /Users/ryan.moore/src/ansible-libvirt
	repo = /Users/ryan.moore/src/ansible-lint-buildkite-pipeline
	repo = /Users/ryan.moore/src/ansible-prometheus
	repo = /Users/ryan.moore/src/ansible-template
	repo = /Users/ryan.moore/src/ansible-tuxcare_client
	repo = /Users/ryan.moore/src/ansible-tuxcare_server
	repo = /Users/ryan.moore/src/cloud-infra-automation
	repo = /Users/ryan.moore/src/cloud-infra-tools
	repo = /Users/ryan.moore/src/cloud-net-automation
	repo = /Users/ryan.moore/src/eng-standards
	repo = /Users/ryan.moore/src/event-driven-ansible
	repo = /Users/ryan.moore/src/lambdacloudlib
	repo = /Users/ryan.moore/src/ll-terraform
	repo = /Users/ryan.moore/src/ops-ansible
	repo = /Users/ryan.moore/src/terraform-artifactory
	repo = /Users/ryan.moore/src/terraform-aws-iam
	repo = /Users/ryan.moore/src/terraform-aws-infrastructure
	repo = /Users/ryan.moore/src/terraform-customer-configs
	repo = /Users/ryan.moore/src/terraform-github-runners
	repo = /Users/ryan.moore/src/terraform-lambda-facts
	repo = /Users/ryan.moore/src/terraform-null-meta
	repo = /Users/ryan.moore/src/terraform-oci-customer-base
	repo = /Users/ryan.moore/src/terraform-oci-customer-instances
	repo = /Users/ryan.moore/src/terraform-oci-hypervisor-network
	repo = /Users/ryan.moore/src/terraform-oci-hypervisors
	repo = /Users/ryan.moore/src/terraform-oci-infra-network
	repo = /Users/ryan.moore/src/terraform-oci-infrastructure
	repo = /Users/ryan.moore/src/terraform-tfcloud-workspaces
	repo = /Users/ryan.moore/src/terraform-tools
	repo = /Users/ryan.moore/src/terraform-vault-management
	repo = /Users/ryan.moore/src/terraform-vault-mtls
	repo = /Users/ryan.moore/src/terraform-vault-team-module
	repo = /Users/ryan.moore/src/terraform-vault-teams
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[rerere]
	enabled = true
