.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.bash_history
.bash_profile
.cache
.config/iterm2
.cups
.eclipse
.history
.lesshst
.localized
.serverauth.*
.ssh/id_*
.ssh/known_hosts*
.viminfo
.zsh_history
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
src
working
.local
