[user]
    email = ryan.moore@grandrounds.com
    name = Ryan Moore

[push]
    default = simple

[diff]
    external = /Users/ryan/bin/gitdiff

[merge]
    keepBackup = false
    tool = custom
    #tool = p4merge
        
[mergetool "custom"]
    cmd = ${HOME}/bin/diff3wrap.sh "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
#Applications/p4merge.app/Contents/Resources/launchp4merge "$PWD/$BASE" "$PWD/$REMOTE" "$PWD/$LOCAL" "$PWD/$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
